COMPOSE_PROJECT_NAME=user-service

MYSQL_DATABASE=user_service
MYSQL_USER=user_service
MYSQL_PASSWORD=user_service
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306

API_PORT=8080
WEB_PORT=3000

APP_CORS_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/user_service?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=user_service
SPRING_DATASOURCE_PASSWORD=user_service
APP_SECURITY_JWT_SECRET=replace-with-at-least-32-characters-secret-key
APP_SECURITY_JWT_EXPIRATION_SECONDS=3600
APP_SECURITY_ADMIN_USERNAME=admin
APP_SECURITY_ADMIN_PASSWORD=admin123
APP_SECURITY_VIEWER_USERNAME=viewer
APP_SECURITY_VIEWER_PASSWORD=viewer123

API_IMAGE=user-service-api:latest
WEB_IMAGE=user-service-web:latest
